:root {
  --primaryColor: hsl(172, 67%, 45%);
  --veryDarkCyan: hsl(183, 100%, 15%);
  --darkGrayishCyan: hsl(186, 14%, 43%);
  --grayishCyan: hsl(184, 14%, 56%);
  --lightGrayishCyan: hsl(185, 41%, 84%);
  --veryLightGrayishCyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --detailsColor: #e57c23;
  --xs: 1.2rem;
  --sm: 1.4rem;
  --md: 1.8rem;
  --lg: 2rem;
  --xl: 2.5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Space Mono", monospace;
}
.atribution {
  color: var(--veryDarkCyan);
  font-size: var(--sm);
}
a {
  cursor: pointer;
  text-decoration: none;
  color: var(--primaryColor);
  font-size: var(--sm);
}
.aligne {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.warning {
  color: var(--detailsColor);
  font-size: var(--xs);
  padding-right: 10px;
  outline-color: var(--primaryColor);
}
.warning-input {
  border: solid 1px var(--detailsColor);
}
p .active {
  background-color: var(--primaryColor);
  color: var(--darkGrayishCyan);
}
.mainContainer {
  height: 100vh;
  background-color: var(--lightGrayishCyan);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.logo {
  width: 90px;
  object-fit: fill;
  margin-top: 50px;
}
.container {
  width: 100%;
  max-width: 900px;
  height: 100%;
  background-color: var(--white);
  border-radius: 20px 20px 0 0;
  padding: 0 20px;
}
.form {
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.buttonSet {
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  gap: 15px;
  place-content: center;
  margin-top: 8px;
}
.button {
  height: 35px;
  background-color: var(--veryDarkCyan);
  color: var(--white);
  border: none;
  border-radius: 6px;
  font-family: "Space Mono", monospace;
  font-size: var(--md);
  cursor: pointer;
}
.button:hover {
  background-color: var(--primaryColor);
  color: var(--veryDarkCyan);
}
.button__custom {
  height: 35px;
  background-color: var(--veryLightGrayishCyan);
  color: var(--veryDarkCyan);
  border: none;
  border-radius: 6px;
  font-family: "Space Mono", monospace;
  font-size: var(--md);
  text-transform: capitalize;
  text-align: center;
  outline-color: var(--primaryColor);
  cursor: pointer;
}
.button__custom:hover {
  border: solid 2px var(--primaryColor);
}
.button__large {
  width: 100%;
  height: 35px;
  background-color: var(--grayishCyan);
  color: var(--veryDarkCyan);
  border: none;
  border-radius: 6px;
  font-family: "Space Mono", monospace;
  font-size: var(--md);
  margin-top: 40px;
  text-transform: uppercase;
  cursor: pointer;
}
.button__large:hover {
  background-color: var(--primaryColor);
}
.form__input {
  padding: 20px;
}
.form__input--bill {
  height: 35px;
  border: none;
  border-radius: 6px;
  background-color: var(--veryLightGrayishCyan);
  outline-color: var(--primaryColor);
  color: var(--veryDarkCyan);
  background-image: url("./images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position: 2ch;
  text-align: right;
  font-size: var(--lg);
  padding: 20px;
  cursor: pointer;
}
.form__input--people {
  height: 35px;
  border: none;
  border-radius: 6px;
  background-color: var(--veryLightGrayishCyan);
  outline-color: var(--primaryColor);
  color: var(--veryDarkCyan);
  background-image: url("./images/icon-person.svg");
  background-repeat: no-repeat;
  background-position: 2ch;
  text-align: right;
  font-size: var(--lg);
  padding: 20px;
  cursor: pointer;
}

.container__result {
  background-color: var(--veryDarkCyan);
  border-radius: 15px;
  padding: 20px;
  color: var(--veryLightGrayishCyan);
  margin: 25px 0;
}
.container__title {
  font-size: var(--sm);
  color: var(--darkGrayishCyan);
  text-transform: capitalize;
  font-weight: bold;
  margin: 20px 0 8px;
}
.container__title--result {
  font-size: var(--sm);
  text-transform: capitalize;
  font-weight: bold;
  color: var(--veryLightGrayishCyan);
  margin-top: 18px;
}
.container__title--subtitle {
  font-size: var(--xs);
  color: var(--grayishCyan);
}
.result {
  display: flex;
  justify-content: space-between;
}
.amountResult {
  font-size: var(--xl);
  color: var(--primaryColor);
  margin-top: 18px;
}
@media (width > 641px) {
  .mainContainer {
    justify-content: center;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    height: auto;
    width: 80%;
    padding: 20px;
  }
  .container__data {
    height: 100%;
    width: 50%;
  }
  .container__result {
    position: relative;
    height: 100%;
    width: 50%;
    margin: 25px 0;
  }
  .button__large {
    transform: translateY(140px);
  }
}
@media (width > 1024px) {
  .button__large {
    transform: translateY(100px);
  }
}
